{% if section.settings.image != blank %}
  <section class="banner-section {% if section.settings.wide_display == false %}main_content_area container {% endif %} wide_display--{{ section.settings.wide_display }}">
    <div class="slider flexslider homepage_slider">
      <ul class="slides">
        <li>
          <img  src="{{ section.settings.image | img_url: '1200x' }}"
                alt="{{ section.settings.image.alt | escape }}"
                class="lazyload transition-in"
                sizes="100vw"
                srcset="{{ section.settings.image | img_url: '480x' }} 480w,
                        {{ section.settings.image | img_url: '768x' }} 768w,
                        {{ section.settings.image | img_url: '1200x' }} 1200w,
                        {{ section.settings.image | img_url: '2048x2048' }} 2048w"
                />
          {% if section.settings.image != blank or section.settings.title != blank or section.settings.subtext != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if section.settings.text_position == 'left' %} nine offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten offset-by-three {% endif %} align_{{ section.settings.text_align }}">
                  {% if section.settings.title != blank %}
                    <h1 class="headline">
                      {{ section.settings.title | escape }}
                    </h1>
                  {% else %}
                    <h1 class="headline">
                      {{ blog.title }}
                    </h1>
                  {% endif %}
                  {% if section.settings.subtext != blank %}
                    <div class="subtitle">
                      {{ section.settings.subtext }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </section>
{% endif %}

<div class="main_content_area content container">
{% paginate blog.articles by section.settings.blog_posts_per_page %}
    <div class="sixteen columns clearfix breadcrumb">
      <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% if section.settings.blog_breadcrumb %}
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a><meta itemprop="position" content="1" /></span>
          &nbsp; / &nbsp;
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a><meta itemprop="position" content="2" /></span>
          {% if current_tags %}
            {% for tag in current_tags %}
              &nbsp; / &nbsp;
              <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a><meta itemprop="position" content="3" /></span>
            {% endfor %}
          {% endif %}

          {% if paginate.pages != 0 %}
            &nbsp; / &nbsp; {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        {% endif %}
      </div>

      {% if section.settings.blog_tags %}
        {% comment %} Don't display filters if no tags {% endcomment %}
        {% assign count = 0 %}
        {% for tag in blog.all_tags %}
          {% assign count = count | plus: 1 %}
        {% endfor %}

        {% if count > 0 %}
          <div class="four offset-by-four columns section_select omega">
            <select name="tag_filter" id="tag_filter" class="blog_filter">
              <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>
              {% for tag in blog.all_tags %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      {% endif %}
    </div>

  {% if section.settings.image == blank %}
    <div class="sixteen columns clearfix">
      <div class="twelve columns alpha">
        <h1>
          {% if current_tags %}
            <a href="/blogs/{{ blog.handle }}/tagged/{{ current_tags | handleize }}" title="{{ blog.title | escape }}">{{ current_tags }}</a>
          {% elsif section.settings.title != blank %}
            {{ section.settings.title }}
          {% else %}
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
          {% endif %}
        </h1>
        {% if section.settings.subtext != blank %}
          <div class="subtitle_content">
            {{ section.settings.subtext }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
    {% for article in blog.articles %}
      {% if section.settings.blog_posts_per_row == 1 %}
        {% if article.image %}
          <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns alpha article_image">
            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              <img  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                    data-src="{{ article.image | img_url: '2048x' }}"
                    class="lazyload lazyload--fade-in"
                    style="max-width: {{- article.image.width -}}px"
                    data-sizes="auto"
                    data-aspectratio="{{ article.image.width }}/{{ article.image.height }}"
                    data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                  {{ article.image | img_url: '1600x' }} 1600w,
                                  {{ article.image | img_url: '1200x' }} 1200w,
                                  {{ article.image | img_url: '1000x' }} 1000w,
                                  {{ article.image | img_url: '800x' }} 800w,
                                  {{ article.image | img_url: '600x' }} 600w,
                                  {{ article.image | img_url: '400x' }} 400w"
                     />
              <noscript>
                <img src="{{ article.image | img_url: '2048x' }}" alt="{{ article.image.alt | escape }}">
              </noscript>
            </a>
          </div>
          <div class="{% if sidebar %}five{% else %}seven{% endif %} columns omega article">
        {% else %}
          <div class="{% if sidebar %}eight{% else %}sixteen{% endif %} columns alpha omega article">
        {% endif %}
      {% else %}
        {% if sidebar %}
          <div class="{% if section.settings.blog_posts_per_row == 2 %}six columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_posts_per_row == 3 %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
        {% else %}
          <div class="{% if section.settings.blog_posts_per_row == 2 %}eight columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_posts_per_row == 3 %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
        {% endif %}

        {% if article.image %}
          <a href="{{ article.url }}" title="{{ article.title | escape }}">
            <img  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                  data-src="{{ article.image | img_url: '2048x' }}"
                  class="lazyload lazyload--fade-in"
                  style="max-width: {{- article.image.width -}}px"
                  data-sizes="auto"
                  data-aspectratio="{{ article.image.width }}/{{ article.image.height }}"
                  data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                {{ article.image | img_url: '1600x' }} 1600w,
                                {{ article.image | img_url: '1200x' }} 1200w,
                                {{ article.image | img_url: '1000x' }} 1000w,
                                {{ article.image | img_url: '800x' }} 800w,
                                {{ article.image | img_url: '600x' }} 600w,
                                {{ article.image | img_url: '400x' }} 400w"
                   />
            <noscript>
              <img src="{{ article.image | img_url: '2048x' }}" alt="{{ article.image.alt | escape }}">
            </noscript>
          </a>
        {% endif %}
      {% endif %}

        {% if section.settings.blog_tags %}
          <div class="blog_meta tags">
            {% for tag in article.tags %}
              <span><a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}

        <h2 class="article_title"><a href="{{ article.url }}">{{ article.title }}</a></h2>

        <p class="blog_meta">
          {% if section.settings.blog_author %}
            <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          {% if section.settings.blog_date %}
            <span>{{ article.published_at | date: format: "month_day_year" }}</span>
          {% endif %}

          {% if section.settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>

        {% if article.excerpt != blank %}
          {% assign postexcerpt = article.excerpt | size %}
          {% if postexcerpt > 100 %}
            {% assign excerptlength = 'lg' %}
          {% elsif postexcerpt <= 50 %}
            {% assign excerptlength = 'sm' %}
          {% endif %}
          <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
            {{ article.excerpt }}
            <span class="truncation-fade"></span>
          </div>
        {% endif %}
        {% if section.settings.read_more_link %}
          <p>
            <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
          </p>
        {% endif %}
      </div>

      {% if section.settings.blog_posts_per_row == 2 %}
        {% cycle "article_row": '', '<br class="clear" />' %}
      {% elsif section.settings.blog_posts_per_row == 3 %}
        {% cycle "article_row": '', '', '<br class="clear" />' %}
      {% elsif section.settings.blog_posts_per_row == 4 %}
        {% cycle "article_row": '', '', '', '<br class="clear" />' %}
      {% else %}
        <br class="clear" />
      {% endif %}
    {% endfor %}
  </div>

  {% include "blog-sidebar", blog_handle: blog.handle %}

  <br class="clear" />
  <div class="sixteen columns">
    {% include 'pagination' %}
  </div>
{% endpaginate %}
</div>


{% schema %}

{
  "name": "Blog",
  "class": "blog-section banner-option",
  "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1800 x 1000px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "info": "Blog title is used if field is blank"
      },
      {
        "type": "richtext",
        "id": "subtext",
        "label": "Text"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "range",
        "id": "blog_posts_per_row",
        "label": "Blog posts per row",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "blog_posts_per_page",
        "label": "Blog posts per page",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "blog_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
     {
       "type": "checkbox",
       "id": "blog_tags",
       "label": "Show tag filter"
     },
     {
       "type": "checkbox",
       "id": "blog_author",
       "label": "Show author"
     },

     {
       "type": "checkbox",
       "id": "blog_date",
       "label": "Show date",
       "default": true
     },
     {
       "type": "checkbox",
       "id": "blog_comment_count",
       "label": "Show comment count",
       "default": true
     },
     {
       "type": "checkbox",
       "id": "read_more_link",
       "label": "Show continue reading link",
       "default": true
     },
     {
      "type": "header",
      "content": "Sidebar"
     },
     {
       "type": "paragraph",
       "content": "Create a sidebar by adding content blocks."
     },
     {
       "type": "checkbox",
       "id": "toggle",
       "label": "Toggle sidebar content",
       "default": false
     }
   ],
   "blocks": [
     {
       "type": "post_tags",
       "name": "Blog post tags",
       "limit": 1
     },
     {
       "type": "menu",
       "name": "Menu",
       "settings": [
         {
           "type": "link_list",
           "id": "custom_menu_linklist",
           "label": "Menu"
         }
       ]
     },
     {
       "type": "newsletter",
       "name": "Newsletter sign up form",
       "limit": 1,
       "settings": [
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text"
          }
       ]
     },
     {
       "type": "page",
       "name": "Page",
       "settings": [
         {
           "type": "page",
           "id": "content_page",
           "label": "Page"
         }
       ]
     },
     {
       "type": "recent_posts",
       "name": "Recent blog posts",
       "limit": 1
     },
     {
       "type": "search",
       "name": "Search form",
       "limit": 1
     },
     {
       "type": "text",
       "name": "Text",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Heading",
           "default": "Heading"
         },
         {
           "type": "richtext",
           "id": "text",
           "label": "Text",
           "default": "<p>Text area can be used for details about blog authors or general information.</p>"
         }
       ]
     }
   ]
 }

{% endschema %}
