<div class="main_content_area content container">
<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'cart.general.title' | t }}</h1>

  {% if cart.item_count > 0 %}
    <div class="continue_shopping">
      <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
    </div>
  {% endif %}
</div>

{% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>
  </div>
{% else %}
  <form action="/cart" method="post" id="cart_form">
    <div class="section clearfix">
      <div class="ten columns cart_items">
        <h4 class="title">{{ 'cart.general.products' | t }}</h4>

        {% for item in cart.items %}
          <div class="item--{{ item.id }}">
            <div class="five columns alpha">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                <img  alt="{{ item.title | escape }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- item.image.width -}}px"
                      data-sizes="auto"
                      data-aspectratio="{{ item.width }}/{{ item.height }}"
                      data-src="{{ item | img_url: '900x' }}"
                      data-srcset=" {{ item | img_url: '2048x' }} 2048w,
                                    {{ item | img_url: '1600x' }} 1600w,
                                    {{ item | img_url: '1200x' }} 1200w,
                                    {{ item | img_url: '1000x' }} 1000w,
                                    {{ item | img_url: '800x' }} 800w,
                                    {{ item | img_url: '600x' }} 600w,
                                    {{ item | img_url: '400x' }} 400w"
                      />
                <noscript>
                  <img src="{{ item | img_url: '2048x' }}" alt="{{ item.title | escape }}">
                </noscript>
              </a>
            </div>

            <div class="five columns omega">
              <p>
                <a href="{{ item.url }}">
                  {{ item.product.title }}
                </a>
              </p>

              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}

              {% if item.properties %}
                <p>
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {% if p.last contains '/uploads/' %}
                        {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a><br />
                      {% else %}
                        {{ p.first }}: {{ p.last }}<br />
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}

              <p class="price_total">
                <strong>{{ 'cart.general.price_per_item' | t }}:</strong>
                {% if item.line_level_discount_allocations.size > 0 %}
                  <span class="money">
                    {{ item.final_price | money }}
                  </span>
                {% endif %}
                <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                  {{ item.original_price | money }}
                </span>
              </p>

              <p id="quantity_{{ forloop.index }}">
                <label for="updates_{{ item.id }}" class="quantity_label">{{ 'cart.general.quantity' | t }}:</label>
                <input type="number" min="0" size="3" maxlength="3" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
              </p>

              {% if item.line_level_discount_allocations.size > 0 %}
                {% for discount_allocation in item.line_level_discount_allocations %}
                 <p class="applied_discount">
                  <span>
                    <strong>{{ 'cart.general.discount' | t }}:</strong> {{ discount_allocation.discount_application.title }} (- <span class="money">{{ discount_allocation.amount | money }}</span>)
                  </span>
                 </p>
                {% endfor %}
              {% endif %}


              <p class="price_total">
                <strong>{{ 'cart.general.total' | t }}:</strong>
                {% if item.line_level_discount_allocations.size > 0 %}
                  <span class="money">
                    {{ item.final_line_price | money }}
                  </span>
                {% endif %}
                <span class="money {% if item.line_level_discount_allocations.size > 0 %} hidden {% endif %}">
                  {{ item.original_line_price | money }}
                </span>
              </p>

              <p class="remove_item">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">{{ 'cart.general.remove' | t }}</a>
              </p>
            </div>
            <br class="clear" />
            <br class="clear" />
          </div>
        {% endfor %}
      </div>

      <div class="five columns offset-by-one cart-breakdown">
        {% if cart.cart_level_discount_applications != blank %}
          <div class="discounts">
            <h4 class="discount-title">
              {{ 'cart.general.discount' | t }}:
            </h4>

            {% for discount_application in cart.cart_level_discount_applications %}
              <p class="discount">
                {{ discount_application.title }} (- <span class="money">{{ discount_application.total_allocated_amount | money }}</span>)
              </p>
            {% endfor %}
          </div>
        {% endif %}
        <h4 class="subtotal">
          {{ 'cart.general.subtotal' | t }}
        </h4>

        <p class="subtotal_amount">
          <strong>
            <span class="money">{{ cart.total_price | money_with_currency }}</span>
          </strong>
          {% comment %}
          <small id="estimated-shipping" style="display:none">+ <em><span class="money">{{ 0 | money }}</span> {{ 'cart.shipping_calculator.estimated_shipping' | t }}</em></small>
          {% endcomment %}

          <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>
        </p>

        {% if settings.show_multiple_currencies %}
          <p>
            <small>
              {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
            </small>
          </p>
        {% endif %}

        {% if section.settings.display_special_instructions %}
          <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
          <textarea id="cart-note" name="note" rows="2">{{ cart.note }}</textarea>      
        {% endif %}
        <!-- {% include 'donation' %} -->

        {% if settings.display_tos_checkbox %}
          <div class="tos_checkbox">
            <input type="checkbox" class="tos_agree" id="cart_agree" required />
              <label class="tos_label" for="cart_agree">
                {% if settings.tos_richtext != blank %}
                    {{ settings.tos_richtext }}
                {% else %}
                    {{ 'cart.general.agree_to_terms_html' | t }}
                {% endif %}
              </label>
          </div>
        {% endif %}

        <p class="add-to-cart-wrap">
          <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
        </p>

        {% if content_for_additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}
      </div>
    </div>
  </form>
{% endif %}
</div>
<style>
.donation_button {
    
    padding: 10px 10px;
}
  
</style>
{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show 'note' text box"
    }
  ]
}

{% endschema %}
