{% assign collection = collections[section.settings.frontpage_collection] %}
{% assign products = collection.products %}
{% assign products_per_row = section.settings.frontpage_products_per_row %}

{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

<div class="container">
  <div class="section clearfix">
    {% if sidebar %}
      {% include 'sidebar', featured: true, featured_collection: section.settings.frontpage_collection %}
      <div class="twelve columns">
    {% else %}
      <div class="sixteen columns">
    {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="section-header title text-center">
          {{ section.settings.title | escape }}
        </h2>
        {% if collections[section.settings.frontpage_collection] != blank %}
          <div class="section clearfix">
            {{ collections[section.settings.frontpage_collection].description }}
          </div>
        {% endif %}
      {% endif %}

      {% if products.length > 0 %}
        {% assign limit = section.settings.frontpage_products_limit %}
        {% include 'product-loop', sidebar: sidebar, limit: limit, products_per_row: products_per_row %}
      {% else %}
        {% assign limit = section.settings.frontpage_products_limit %}
        <div class="featured-collection--placeholder clearfix">
          {% for i in (1..limit) %}
            <div class="
              {% if sidebar %}
                sidebar-enabled
                {% if products_per_row == 2 %} six columns
                {% elsif products_per_row == 3 %} four columns
                {% elsif products_per_row == 4 %} three columns
                {% endif %}
              {% else %}
                sidebar-disabled
                {% if products_per_row == 2 %} eight columns
                {% elsif products_per_row == 3 %} one-third column
                {% elsif products_per_row == 4 %} four columns
                {% endif %}
              {% endif %}

              thumbnail">
              <a href="#" itemprop="url">
                <div class="relative product_image">
                  {% capture num %}{% cycle "1", "2", "3", "5", "6" %}{% endcapture %}
                  {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
                </div>
                <div class="info">
                  <span class="title">{{ 'homepage.onboarding.product_title' | t }}</span>
                    <span class="price">
                    <span class="money">$49.60</span>
                  </span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Featured collection",
  "class": "featured-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "frontpage_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "frontpage_products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "frontpage_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "presets": [{
    "name": "Featured collection",
    "category": "Collection",
    "settings": {
      "frontpage_collection": ""
    }
  }]
}

{% endschema %}
