<div class="sub-footer">
  <div class="container">
    <div class="flex flex-wrap" style="padding: 0 10px;">
      {% for block in section.blocks %}
        {% if block.type == 'page' %}
          <div class="flex-1">
            {% if block.settings.footer_content_page != blank %}
              <h6 class="title">{{ pages[block.settings.footer_content_page].title }}</h6>
              {{ pages[block.settings.footer_content_page].content }}
            {% endif %}

            {% if block.settings.social_icons_footer %}
              <div class="js-social-icons">
                <ul class="social_icons">
                  {% include 'social-icons' %}
                </ul>
              </div>
            {% endif %}
          </div>
        {% elsif block.type == 'text' %}
          <div class="flex-1">
            {% if block.settings.title != blank %}
              <h6 class="title">{{ block.settings.title | escape }}</h6>
            {% endif %}

            {% if block.settings.content != blank %}
              {{ block.settings.content }}
            {% endif %}

            {% if block.settings.social_icons_footer %}
              <ul class="social_icons">
                {% include 'social-icons' %}
              </ul>
            {% endif %}
          </div>
        {% elsif block.type == 'link_list' %}
          <div class="flex-1">
            <h6 class="title">{{ linklists[block.settings.footer_linklist].title }}</h6>
            <ul class="footer_menu">
              {% for link in linklists[block.settings.footer_linklist].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% for sub_link in link.links %}
                  <li>
                    <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                  </li>
                  {% for sub_sub_link in sub_link.links %}
                    <li>
                      <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                    </li>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </ul>

            {% if block.settings.social_icons_footer %}
              <ul class="social_icons">
                {% include 'social-icons' %}
              </ul>
            {% endif %}
          </div>
        {% elsif block.type == 'newsletter_form' %}
          <div class="m-w-full">
            <h6 class="title">{{ 'general.newsletter_form.title' | t }}</h6>
            {% if block.settings.newsletter_richtext != blank %}
              {{ block.settings.newsletter_richtext }}
            {% endif %}
            {% include 'newsletter', placement: 'footer' %}

            {% if block.settings.social_icons_footer %}
              <ul class="social_icons">
                {% include 'social-icons' %}
              </ul>
            {% endif %}
          </div>
        {% else %}
          <div class="m-w-full">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="sixteen columns">
      <p class="credits">
        &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}
        {{ section.settings.copyright_text | escape }}
      </p>
      {% if section.settings.display_payment_methods %}
        <div class="payment_methods">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <script data-cfasync="false">window.ju_num="F37CD382-28FF-4476-9BFE-7D8C53BAE1FD";window.asset_host='//cdn.justuno.com/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Sub footer"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "newsletter_form",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text",
            "default": "<p>Sign up to get the latest on sales, new releases and more…</p>"
          },
          {
            "type": "checkbox",
            "id": "display_first_name",
            "label": "Show first name"
          },
          {
            "type": "checkbox",
            "id": "display_last_name",
            "label": "Show last name"
          },
          {
            "type": "checkbox",
            "id": "social_icons_footer",
            "label": "Show social media footer icons",
            "default": false
          }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "info": "This menu won't show drop-down items"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "footer_content_page",
          "label": "Content page"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": true
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "checkbox",
        "id": "social_icons_footer",
        "label": "Show social media footer icons",
        "default": true
        }
      ]
    }
  ]
}
{% endschema %}
