{% if section.settings.display_breadcrumb == false %}
  {% style %}
    .main_content_area .breadcrumb__wrapper {
      display: none;
    }
  {% endstyle %}
{% endif %}

<div class="section product_section clearfix {% if product.images.size > 1 %}thumbnail_position--{{settings.thumbnail_position}} {% endif %} product_slideshow_animation--{{settings.product_slideshow_animation}} product_images_position--{{ section.settings.product_images_position }}"
    data-thumbnail="{{settings.thumbnail_position}}"
    data-slideshow-animation="{{settings.product_slideshow_animation}}"
    data-slideshow-speed="{{settings.slideshow_speed}}"
    itemscope itemtype="http://schema.org/Product">

  {% if section.settings.product_images_position == 'left' %}
    <div class="nine columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %}" data-initial-width="nine" data-sidebar-width="seven">
      {% include 'product-images' %}
    </div>
  {% endif %}

  <div class="seven columns {%if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}" data-initial-width="seven" data-sidebar-width="five">

    {% assign collection_handles = product.collections | map: 'handle' %}

    {% if collection and section.settings.display_collection_link %}
      <a href="{{ collection.url }}">{{ collection.title }}</a>
    {% endif %}

    {% assign variant = product.selected_or_first_available_variant %}
    <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

    {% if collection_handles contains 'coming-soon' %}
      <p class="coming_soon_text">{{ 'collections.general.coming_soon' | t }}</p>
    {% endif %}

    {% if settings.enable_shopify_product_badges %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    {% endif %}

    {% if section.settings.display_vendor %}
      <p class="vendor">
        <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
      </p>
    {% endif %}

    {% if variant.sku != blank and section.settings.display_sku %}
      <p class="sku">
        <span itemprop="sku">{{ variant.sku }}</span>
      </p>
    {% endif %}

    {% unless collection_handles contains 'coming-soon' %}
      <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        <meta itemprop="seller" content="{{ shop.name | escape }}" />
        <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>

        <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
        <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
          <span class="current_price {% if product.available == false %}hidden{% endif %}">
            {% if variant.price > 0 %}
              <span class="money">{{ variant.price | money }}</span>
            {% else %}
              {{ settings.free_price_text }}
            {% endif %}
          </span>
        </span>
        <span class="was_price">
          {% if variant.price < variant.compare_at_price and variant.available %}
            <span class="money">{{ variant.compare_at_price | money }}</span>
          {% endif %}
        </span>
      </p>

      {% include 'product-notify-me' %}
    {% endunless %}

    {% unless collection_handles contains 'coming-soon' %}
      {% include 'product-form' with 'product' %}
    {% endunless %}

    {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    {% endif %}

    {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
      <hr />
    {% endif %}

    <div class="meta">
      {% if section.settings.display_collections %}
        <p>
          <span class="label">{{ 'products.product.collections' | t }}:</span>
          <span>
            {% for col in product.collections %}
              <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </span>
        </p>
      {% endif %}

      {% if section.settings.display_tags %}
        <p>
          {% for tag in product.tags %}
            {% if forloop.first %}
              <span class="label">{{ 'products.product.tags' | t }}:</span>
            {% endif %}

            {% unless tag contains 'meta-' %}
              <span>
                <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
              </span>
            {% endunless %}
          {% endfor %}
        </p>
      {% endif %}

      {% if section.settings.display_type %}
        <p>
          <span class="label">{{ 'products.product.product_types' | t }}:</span>
          <span>{{ product.type | link_to_type }}</span>
        </p>
      {% endif %}
    </div>

    {% include "social-buttons" with "product" %}
  </div>

  {% if section.settings.product_images_position == 'right' %}
    <div class="eight columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %}" data-initial-width="eight" data-sidebar-width="six">
      {% include 'product-images' %}
      {% include "social-buttons" with "product" %}
    </div>
  {% endif %}


  <br class="clear" />
  <div class="section clearfix">

    <div class="description">
      {{ product.description }}
    </div>

    {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    {% endif %}
  </div>


</div>


<style>
  {% if section.settings.set_product_height %}
    .product_slider .slides img { max-height: {{ section.settings.product_height }}px; }
  {% endif %}
</style>

{% schema %}

{
  "name": "Product bottom",
  "class": "product-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collection_link",
      "label": "Show collection link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product images"
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product image height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "paragraph",
      "content": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ]
}

{% endschema %}
