{% include 'shogun-products', content: page %}
<div class="main_content_area content container">
  <div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title">
      {{ page.title }}
    </h1>
  </div>

  <div class="sixteen columns page">
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>
