<div id="fit-finder" class="main-content">
{% include 'shogun-products', content: page %}
<div class="module-wrapper fitfinder-wrapper">
  <div class="module module-default-page">
    <div class="module-header page-header">
      <div class="module-title page-title">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="module-body page-body rte">
    <!-- Start Finder -->              
    <div id="fitfinder" class="modal-wrap">
    <div class="modal-header"><span class="is-active"></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>

    </div>
    <div class="modal-bodies">
      <!-- Start Page -->
      <div class="modal-body modal-body-step-0 is-showing">
        <div class="title">Fit Finder</div>
        <div class="description">Find your shoe in 30 seconds!</div>
        <form>
          <div class="text-center">
            <div class="button next">Let's Start</div>
          </div>
        </form>
      </div>
      <!-- Start Page End -->
      <!-- Step One -->
      <div class="modal-body modal-body-step-1">
        <div class="title">Step 1</div>
        <div class="description">
          <span>Click through our Fit Finder to find the styles we recommend for you.</span>
          I normally wear...</div>
        <form id="gender">
          <label>
            <input type="radio" name="gender" value="women"/>Womens
          </label>
           <label>
            <input type="radio" name="gender" value="men"/>Mens
          </label>
          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
        </form>
      </div>
      <!-- Step One End -->
      <!-- DYK One -->
      <div class="dyk modal-body modal-body-step-2">
        <div class="title">Orthotic Friendly</div>
        <div class="description">
          Our insoles are easily removable so they can be replaced with custom orthotics.</div>
        <form>
          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
        </form>
      </div>
      <!-- DYK One End -->
      <!-- Step Two -->
      <div class="modal-body modal-body-step-3">
        <div class="title">Step 2</div>
        <div class="description">I have ...</div>
        <form id="swelling">
          <label>
            <input id="no" type="radio" name="swell" value="no"/>No swelling
          </label>
          <label>
            <input id="mid" type="radio" name="swell" value="mild" />Mild swelling
          </label>
           <label>
            <input id="moderate" type="radio" name="swell" value="moderate"/>Moderate swelling
          </label>
          <label>
            <input id="severe" type="radio" name="swell" value="severe"/>Severe swelling
          </label>

          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
        </form>
      </div>
      <!-- Step Two End -->
      <!-- DYK Two -->
      <div class="dyk modal-body modal-body-step-4">
        <div class="title">Arch Support</div>
        <div class="description">
            Our insoles have good arch support and are made out of high quality memory foam.</div>
        <form>
          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
        </form>
      </div>
      <!-- DYK Two End -->
      <!-- Step Three -->
      <div id="width" class="modal-body modal-body-step-5">
        <div class="title">Step 3</div>
        <div class="description">My width is...</div>
        <form class="women">
          <label>
            <input type="radio" name="swell_opt" value="AAA-A"/>AAA-A
          </label>
          <label>
            <input type="radio" name="swell_opt" value="B-E"/>B-E
          </label>
           <label>
            <input type="radio" name="swell_opt" value="E-EEE"/>E-EEE
          </label>
          <label>
            <input type="radio" name="swell_opt" value="4E or larger"/>4E or larger
          </label>
          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
        </form>
        <form class="men">
          <label>
            <input type="radio" name="swell_opt" value="A-C"/>A-B
          </label>
          <label>
            <input type="radio" name="swell_opt" value="C-E"/>C-E
          </label>
          <label>
            <input type="radio" name="swell_opt" value="D-EE"/>D-EE
          </label>
          <label>
            <input type="radio" name="swell_opt" value="EEE or larger"/>EEE or larger
          </label>
          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
      	</form>
      </div>
      <!-- Step Three End -->
      <!-- Step Four -->
      <div class="modal-body modal-body-step-6">
        <div class="title">Step 4</div>
        <div class="description">I have...</div>
        <form id="bunion">
          <label>
            <input type="radio" name="bunion" value="no-bunion"/>No Bunions
          </label>
          <label>
            <input type="radio" name="bunion" value="bunion"/>Bunions 
          </label>
          <div class="text-center fade-in">
            <div class="button back">Back</div>
            <div class="button next">Next</div>
          </div>
        </form>
      </div>
      <!-- Step Four End -->
      <div id="result-last" class="modal-body modal-body-step-7">
        <div class="title with-result">Here's what we recommend for YOUR feet!</div>
        <div class="title no-result">Aww snap!</div>
        <div class="description results">
          <h3 class="no-result">Unfortunately we don't have a shoe for you yet.<br>But we're working on it! </h3>
          <div id="result_set" class="main_result">

          </div>
          <div class="no-result">
            <p>Add your email here and we will notify you when a shoe that meets your needs is available. </p>
          	<div class="klaviyo-form-PU6rjG"></div>
          </div>
        </div>
        <div class="text-center">
          <div class="reset button">Start again</div>
        </div>
      </div>
    </div>
  </div>
      <!-- End Finder -->	
    </div>
    {% unless page.content == blank %}
      <div class="module-body page-body rte">
        {{ page.content }}
      </div>
    {% endunless %}
  </div>
</div>
</div>


<style>
  .fitfinder-wrapper {/*background: radial-gradient(#f2f2f2, #fff)*/}
  .fitfinder-wrapper > module {padding-top:0}
  .page-header {display:none}
  #fit-finder > .main-content {
  	background-image: url(https://cdn.shopify.com/s/files/1/1976/5903/files/18-10-22_Pandere_Park_180_1bcd1c22-c378-4d30-b6ed-a7709100cc28_1200x800.jpg?v=1562619853);
    background-size: cover;
    background-position: center center;
  }
  #fit-finder .module-breadcrumbs {
  	display:none;
  }
  #fitfinder {
  	min-height: 660px;
  }
  #fitfinder #result_parent {padding: 20px 50px 40px;}
  #fitfinder #result_parent #result_set {display:flex;}
  #fitfinder #result_parent #result_set > div { text-align:center;margin: 0 auto; }
  #fitfinder #result_parent #result_set > div img {max-height:180px}
  #fitfinder #result_parent h2{font-size: 1.2em;
    margin: 0;}
  #fitfinder #result_parent .description h3 {    margin: 0;
    line-height: 1em;
    padding: 20px 0 8px;}
  #fitfinder p {
  	padding: 5px 0 0 0;
    line-height: 1.3em;
    font-weight: lighter;
  }
  #result_set {display:flex;text-align: center; margin: 0 auto;}
  #result_set > div {text-align: center; margin: 0 auto;}
  #result_set > div h3{margin: 0;font-weight: bold;text-decoration:underline;}
  #result_set > div h3:hover {text-decoration:none;}
  .title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #FF8F00;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  }

  .description {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .description > span {
  	display: block;
    font-weight: lighter;
    font-size: 13px;
  }
  .description.left {
    text-align: left;
  }

  input[type="text"],
  input[type="email"] {
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #FF6F00;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  label {
    display: block;
    font-size: 18px;
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    cursor: pointer;
  }
  label:first-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .button,
  .rerun-button {
    padding: 10px 20px;
    border-radius: 3px;
    background: #FF6F00;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    margin-top: 40px;
  }
  .button:hover,
  .rerun-button:hover {
    background: #e66400;
  }
  .button.rerun-button,
  .rerun-button.rerun-button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .text-center {
    text-align: center;
  }

  .modal-wrap {
    max-width: 600px;
    margin: 50px auto;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }

  .modal-header {
    height: 45px;
    background: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .modal-header span {
    display: block;
    height: 12px;
    width: 12px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal-header span.is-active {
    background: rgba(0, 0, 0, 0.4);
    background: #FF8F00;
  }

  .modal-bodies {
    position: relative;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .modal-body {
    background: white;
    padding: 20px 90px 40px;
    box-shadow: 0px 20px 60px -15px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .modal-body.is-showing {
    display: block;
  }
  .modal-body.modal-body-step-7 {
  	padding: 20px 35px 40px;
  }
  
  /* Results */
  .modal-body-step-7 .results > h3 {
    display: none;
  }

  .modal-body-step-7 .results.yes > h3 {
    display: block;
    line-height: 1.2em;
  }
  
  /* Did you knows */
  .dyk {
    /*background-image: url({{ 'lb.webp' | asset_url }});*/
    background-position: -5px -13px;
    background-size: 150px;
    background-repeat: no-repeat;
    text-align: left;
  }
  
  .round {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .border {
    border: 0px solid rgba(0, 0, 0, 0.3);
  }

  .talk-bubble {
    margin: 40px;
    display: inline-block;
    position: absolute;
    width: 260px;
    height: auto;
    background-color: #FF6F00;
    left: 0px;
    top: 6px;
    color: #fff;
    letter-spacing: 0px;
    opacity: 0;
  }

  .talktext {
    padding: 0 15px 20px;
  }

  .talktext h3 {
    font-weight: bold;
    margin: 1em 0 .5em;
    line-height: 1em;
  }
  
  .talk-bubble.show {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slide 0.5s forwards;
    animation-delay:1.5s;
  }

  .talk-bubble.hide {
    -webkit-animation: hide 0.1s forwards;
    -webkit-animation-delay: 1s;
    animation: hide 0.1s forwards;
    animation-delay: 1s;
  }
  
  /* No Result */
  #result-last .no-result {
  	display: none;
  }
  
  #result-last.no-result .no-result {
  	display: block;
  }
  
  #result-last.no-result .with-result {
  	display: none;
  }

  #result-last .no-result form input {
  	text-align: left;
  }
  
  .animate-out {
    -webkit-animation: out 600ms ease-in-out forwards;
            animation: out 600ms ease-in-out forwards;
  }

  .animate-in {
    -webkit-animation: in 500ms ease-in-out forwards;
            animation: in 500ms ease-in-out forwards;
    display: block;
  }

  .animate-up {
    -webkit-transform: translateY(-500px) rotate(30deg);
            transform: translateY(-500px) rotate(30deg);
  }

  @-webkit-keyframes out {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
              transform: translateY(0px) rotate(0deg);
    }
    60% {
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg);
    }
    100% {
      -webkit-transform: translateY(800px) rotate(10deg);
              transform: translateY(800px) rotate(10deg);
    }
  }

  @keyframes out {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
              transform: translateY(0px) rotate(0deg);
    }
    60% {
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg);
    }
    100% {
      -webkit-transform: translateY(800px) rotate(10deg);
              transform: translateY(800px) rotate(10deg);
    }
  }

  @-webkit-keyframes in {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes in {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }

  @-webkit-keyframes slide {
    30% {opacity: 1;}
    100% { left: -300px;opacity: 1;}
  }

  @keyframes slide {
    30% {opacity: 1;}
    100% { left: -300px;opacity: 1;}
  }

  @-webkit-keyframes hide {
    30% {opacity: 0;}
    100% { left: 0;opacity: 0;}
  }

  @keyframes hide {
    30% {opacity: 0;}
    100% { left: 0;opacity: 0;}
  }

  /* Smaller Screen */
  
  @media screen and (max-width: 640px) {
  	.modal-body {padding: 20px 25px 40px;}
    #fit-finder > .main-content .module {padding: 30px 0;}
    #fit-finder > .main-content .module .title {margin-bottom: 12px;}
    #fit-finder > .main-content .module #fitfinder form label {padding: 12px 0;}
    #fit-finder > .main-content .module #fitfinder form .button {padding: 10px 40px;}
    #fit-finder > .main-content .module #fitfinder .modal-body.modal-body-step-7 {padding: 20px 20px 40px;font-size: 14px;}
    #result-last.no-result .no-result {line-height: 1.2em;}
    #fit-finder > .main-content .module #fitfinder .modal-body.modal-body-step-7 .reset {margin-top:0;}
    #result_set > div {padding-top: 10px;}
  }

</style>