{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

{% section 'product-details-template' %}
<div class="container">
	{% section 'product-recommendations' %}
</div>
